* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 1px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 50px;
}

h4 {
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  font-size: 18px;
}

section {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header Section */
header {
    background: #1F2937;
    height: 500px;
}

/* Navigation Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 18px;
    margin-bottom: 100px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.link-text {
    font-size: 18px;
    color: #E5E7EB;
}

.navLogo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2rem;
}

.heroLeft,
.heroRight {
    flex: 1 1 0%;
}
.heroLeft p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.heroLeft button {
    background: #3882F6;
    border: none;
    border-radius: 2px;
    padding: 5px 12px;
    color: #F9FAF8;
}

.heroRight img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: right;
}

/* Second Section */
.secondSection {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.boxes {
    display: flex;
    gap: 25px;
}

.box img {
    height: 200px;
    width: 300px;
    border: 2px solid blue;
    margin-bottom: 10px;
    object-fit: cover;
}

.box p {
    text-align: center;
}

/* Third Section */
.wrapper {
    background: #E5E7EB;
}

.quote {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

cite {
    font-weight: 600;
    float: right;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

/* Fourth Section */
.fourth-wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    background: #3882F6;
    color: #E5E7EB;
    width: 80rem;
    border-radius: 10px;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

.cta-button {
    border: 1px solid white;
    background: #3882F6;
    color: #E5E7EB;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    background: #1F2937;
    padding: 25px 0;
    text-align: center;
    color: #F9FAF8;
}